$square-size: 2rem;
$square-symbol-font-size: 1rem;
$global-font: Verdana, Geneva, Tahoma, sans-serif;;
$square-symbol-font: $global-font;

$naught-color: #eb3633;
$cross-color: #3A3F69;

$naught-background:#F7B6B6;
$cross-background: #B0B5D4;

$ui-lightest: #E9EBED;
$ui-lighter: #D2D6DA;
$ui-light: #BCC2C8;
$ui-medium: #848F9A;
$ui-dark: #2E3338;
$ui-darker: #1C1F22;
$ui-darkest: #090A0B;