.square {
    height:2rem;
    width: 2rem;
    cursor: pointer;
}


.square-symbol__○ {
    color: #fe5f55;
}

.square-symbol__× {
    color: #38369A;
}

.board-active__false > .square {
    background-color: rgb(224, 224, 224);
}